@model IEnumerable<ToDo>

    <div class="row">
        <div class="col-md-2"
            <form asp-action="Filter" method="post">
                <div class="mb-3">
                    <label class="form-label">Category</label>
                    <select name="filter" class="form-select"
                    asp-items="@(new SelectList(ViewBag.Categories,"CategoryId","Name",ViewBag.Filters.CategoryId))">
                    <option value="all">All</option>
                </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Due:</label>
                    <select name="filter" class="form-select"
                    asp-items="@(new SelectList(ViewBag.DueFilters, "Key", "Value", ViewBag.Filters.Due))">
                    <option value="all">All</option>
                </select>
                </div>
                <div class="mb-3"
                    <label class="form-label">Status:</label>
                    <select name="filter" class="form-select"
                    asp-items="@(new SelectList(ViewBag.Statuses,"StatusId", "Name", ViewBag.Filters.StatusId))">
                    <option value="all">All</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Filter</button>
                <a asp-action="Index" asp-route-id="" class="btn btn-primary">Clear</a>
            </form>
        </div>
        <div class="col-md-10"

        </div>
    </div>  
